@charset "utf-8";

/* main */
.visual{position:relative; width:100%; height:993px; background: url(../images/main/page1_visual1.jpg) no-repeat 0 0; background-size:100%;}
.visual *{font-family:Malgun Gothic, NanumGothic, Dotum, Helvetica, sans-serif;}
.visual .inner{width:850px; margin:0 auto; padding-top:250px;}
.visual .inner *{color:#fff; text-align:center;}
.visual_txt .txt_top{font-size:48px; font-weight:500; letter-spacing:-1.5px;}
.visual_txt .txt_top .txt_motion{display:inline-block; margin-left:14px;}
.visual_txt .txt_top .txt_motion:nth-child(1){margin-left:0;}
.visual_txt .txt_top .txt_motion.eng{font-size:58px;}
.visual_txt .txt_bottom{margin-top:10px;}
.visual_txt .txt_bottom .txt_motion{font-size:19px;}

.btn_area{position:relative;}
.btn_area span{position:relative; display:inline-block;}
.btn_area span a{display:block; text-indent:-9999px;}
.btn_area .arr{position:relative; width:320px; height:1px;}
.btn_area .arr::before{content:""; display:block; position:absolute; left:0; top:8px; width:320px; height:1px; background-color:#fff; opacity:0.5;}
.btn_area .arr a{position:absolute; width:58px; height:23px; background-image:url(../images/main/img_mainVisual_all.png); background-repeat:no-repeat;}
.btn_area .arr.next a{right:0; top:-15px; background-position:-120px -23px;}
.btn_area .arr.next a::before{content:""; display:block; position:absolute; right:0; top:100%; width:58px; height:1px; background-color:#fff;}
.btn_area .arr.prev a{left:0; top:-15px; background-position:-155px -0;}
.btn_area .arr.prev a::before{content:""; display:block; position:absolute; left:0; top:100%; width:58px; height:1px; background-color:#fff;}
.btn_area .btn_pause{padding-top:13px; margin:0 12px;}
.btn_area .btn_pause a{width:37px; height:37px; background:url(../images/main/img_mainVisual_all.png) no-repeat -141px -95px;}
.btn_area .btn_pause a:hover{background-position:-183px -95px;}
.btn_area .btn_pause a.active{background-position:-94px -95px;}
.btn_area .btn_pause a.active:hover{background-position:-183px -50px;}

.scroll_area{padding-top:235px;}
.scroll_area .mouse{display:inline-block; margin:0 auto;}
.scroll_area .mouse a{display:block; width:30px; height:53px; background:url(../images/main/img_mainVisual_all.png) no-repeat -38px 0;}
.scroll_area .txt{width:105px; height:16px; margin:18px auto 0; background:url(../images/main/img_mainVisual_all.png) no-repeat 0 -65px;}

/* quick menu */
.quick_menu{position:fixed; right:0; top:0; height:100%; padding:200px 7px 0 7px; border-left:1px solid #428eb3;}
.quick_menu .arrow_box{position:absolute; right:0; width:68px; height:68px; margin-top:23px; background: url(../images/main/img_mainArrowRight.gif) no-repeat 0 0;}
.quick_menu .arrow_box a{display:block; height:100%;}
.quick_menu .sns_box{position:absolute; top:360px; right:0; padding:10px 20px; background-color:transparent;}
.quick_menu .sns_box li{padding:15px 0; border-top:1px solid #428eb3;}
.quick_menu .sns_box li:nth-child(1){border:none;}
.quick_menu .sns_box li a{display:block; background-repeat:no-repeat; background-image:url(../images/main/img_mainAside_all.png); margin:0 auto;}
.quick_menu .sns_box li:nth-child(1) a{width:13px; height:16px; background-position:0 -142px;}
.quick_menu .sns_box li:nth-child(2) a{width:11px; height:21px; background-position:-22px -140px;}
.quick_menu .sns_box li:nth-child(3) a{width:16px; height:14px; background-position:-44px -143px;}
.quick_menu .sns_box li:nth-child(4) a{width:13px; height:21px; background-position:-71px -140px;}
.quick_menu .sns_box li:nth-child(5) a{width:18px; height:18px; background-position:-94px -140px;}
.quick_menu .arrow_box a:hover{padding-left:10px;}

.quick_menu.on{border-left:1px solid #ddd; background-color:#fff;}
.quick_menu.on .sns_box li{border-top:1px solid #ddd;}
.quick_menu.on .sns_box li:nth-child(1) a{background-position:0 -174px;}
.quick_menu.on .sns_box li:nth-child(2) a{background-position:-22px -172px;}
.quick_menu.on .sns_box li:nth-child(3) a{background-position:-44px -174px}
.quick_menu.on .sns_box li:nth-child(4) a{background-position:-71px -172px;}
.quick_menu.on .sns_box li:nth-child(5) a{background-position:-94px -173px;}

/* section */
.section{margin-top:50px;}
.section .inner{width:1580px; margin:0 auto;}
.news_area{position:relative;}

.news_area .tab_area .tab{overflow:hidden; }
.news_area .tab_area .tab li{float:left;}
.news_area .tab_area .tab li a{display:block; padding:0 20px; font-size:18px;}
