@charset "utf-8";

/* sub */
.sub .sub_con>ul>li{font-size:16px;}
.sub .container{position:relative; width:100%; background-repeat:no-repeat; background-position:0 -60px;}
.sub .container.info{background-image: url(../images/sub/sub_bg_01.jpg);}
.sub .container.notice{background-image: url(../images/sub/sub_bg_02.jpg);}
.sub .container.business{background-image: url(../images/sub/sub_bg_03.jpg);}
.sub .container .content{position: relative;}
.sub .container .inner{width:1580px; margin:0 auto;}
.sub .container .inner h2{padding-top:200px; text-align:center; font-size:50px; font-weight:600; color:#fff;}

.sub .content .inner{width:1580px; margin:90px auto 0; padding:28px 40px; background-color:#fff; box-sizing:border-box;}
.sub_header{margin-bottom:60px;}
.sub_header .lnb_group{margin-bottom:80px;}
.sub_header .lnb_group::after{content:""; display:block; clear:both;}
.sub_header .lnb_group .detail{float:left;}
.sub_header .lnb_group .utility{float:right;}
.sub_header .lnb_group .detail>ul::after{content:""; display:block; clear:both;}
.sub_header .lnb_group .detail>ul>li{float:left; position:relative; width:270px; padding-top:10px;  border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff;}
.sub_header .lnb_group .detail>ul>li:hover{border-top-color:#e5e5e5; border-left-color:#e5e5e5; border-right-color:#e5e5e5;}
.sub_header .lnb_group .detail>ul>li:first-child:hover{border-top-color:#fff; border-left-color:#fff; border-right-color:#fff;}
.sub_header .lnb_group .detail>ul>li:nth-child(1){width:40px;}
.sub_header .lnb_group .detail>ul>li .lnb_icon{display:block; position:relative; width:40px; height:40px;}
.sub_header .lnb_group .detail>ul>li .lnb_icon::before{content:""; display:block; position:absolute; left:0; top:10px; width:17px; height:17px; background: url(../images/sub/icon_subNav_home.gif) no-repeat 50% 50%;}
.sub_header .lnb_group .detail>ul>li .lnb_tit{display:block; position:relative; padding:10px 20px; font-size:16px; background:url(../images/sub/icon_subNav_ar.gif) no-repeat 92% 50%; box-sizing:border-box;}
/* .sub_header .lnb_group .detail>ul>li .lnb_tit:hover{border-top-color:#e5e5e5; border-left-color:#e5e5e5; border-right-color:#e5e5e5;} */
.sub_header .lnb_group .detail>ul>li .lnb_icon::after, .sub_header .lnb_group .detail>ul>li .lnb_tit::after{content:""; display:block; position:absolute; right:-1px; top:50%; transform:translateY(-50%); width:1px; height:20px; background-color:#e5e5e5;}
.sub_header .lnb_group .detail>ul>li .lnb_icon:hover::after, .sub_header .lnb_group .detail>ul>li .lnb_tit:hover::after{background-color:transparent;}


.sub_header .lnb_group .detail>ul>li .lnb_box{display:none;}
.sub_header .lnb_group .detail>ul>li .lnb_box>ul{position:absolute; left:-1px; top:41px; width:100%; padding-bottom:10px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#fff; z-index:5; box-shadow:5px 7px 5px 1px gray;}

.sub_header .lnb_group .detail>ul>li .lnb_box ul li a{display:block; position:relative; padding:10px 20px; font-size:16px;}
/* .sub_header .lnb_group .detail>ul>li .lnb_box ul li:nth-child(1) a{background:url(../images/sub/icon_subNav_ar.gif) no-repeat 92% 50%; box-sizing:border-box;} */
.sub_header .lnb_group .detail>ul>li a:hover{color:#005cb9; background-color:#f6f6f6;}
.sub_header .lnb_group .detail>ul>li:first-child a:hover{background-color:#fff;}
.sub_header .lnb_group .utility>ul{font-size:0;}
.sub_header .lnb_group .utility>ul>li{display:inline-block; position:relative;}
.sub_header .lnb_group .utility>ul>li:last-child{margin-left:8px;}
.sub_header .lnb_group .utility>ul>li>a{display:block; position:relative; width:32px; height:32px; background-repeat:no-repeat; background-position:0 0;}
.sub_header .lnb_group .utility>ul>li .share{background-image:url(../images/sub/icon_btnShare.gif);}
.sub_header .lnb_group .utility>ul>li .print{background-image: url(../images/sub/icon_btnPrint.gif);}
.sub_header .lnb_group .utility>ul>li .print:hover{background-image: url(../images/sub/icon_btnPrint_over.gif);}
.sub_header .lnb_group .utility .share_sns{display:none; position:absolute; right:0; top:-7px;}
.sub_header .lnb_group .utility .share_sns>ul{width:190px; padding:13px 50px 13px 30px; box-sizing:border-box; border:1px solid #005cb9; border-radius:30px; background-color:#fff;}
.sub_header .lnb_group .utility .share_sns>ul>li{display:inline-block; margin-left:25px;}
.sub_header .lnb_group .utility .share_sns>ul>li:nth-child(1){margin-left:0;}
.sub_header .lnb_group .utility .share_sns>ul>li>a{display:block; height:19px; background-repeat:no-repeat;}
.sub_header .lnb_group .utility .share_sns>ul>li:nth-child(1) a{width:12px; background-image:url(../images/sub/icon_subTopBar_share1.gif);}
.sub_header .lnb_group .utility .share_sns>ul>li:nth-child(2) a{width:10px; background-image:url(../images/sub/icon_subTopBar_share2.gif);}
.sub_header .lnb_group .utility .share_sns>ul>li:nth-child(3) a{width:16px; background-image:url(../images/sub/icon_subTopBar_share3.gif);}
.sub_header h3{text-align:center; font-size:42px; font-weight:400;}

.sub_footer{margin:100px 0; padding:0 25px; box-sizing:border-box; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-top:1px solid #555; background-color:#f6f6f6;}
.sub_footer .top{padding:25px 0 15px;}
.sub_footer .top ul::after{content:""; display:block; clear:both;}
.sub_footer .top ul li{position:relative; overflow:hidden; float:left; width:195px; margin-left:115px; padding-left:20px; box-sizing:border-box;}
.sub_footer .top ul li::before{content:""; display:block; position:absolute; left:0; top:3px; width:12px; height:14px; background-repeat:no-repeat; background-position:0 0;}
.sub_footer .top ul li:nth-child(1){margin-left:0;}
.sub_footer .top ul li:nth-child(1)::before{background-image: url(../images/sub/icon_satisfy_1.png);}
.sub_footer .top ul li:nth-child(2)::before{background-image: url(../images/sub/icon_satisfy_2.png);}
.sub_footer .top ul li:nth-child(3)::before{background-image: url(../images/sub/icon_satisfy_3.png);}
.sub_footer .top ul li *{font-size:15px;}
.sub_footer .top ul li span{float:left; display:block; margin-right:8px; font-weight:600; color:#555;}
.sub_footer .top ul li p{float:left;}
.sub_footer .bottom{overflow:hidden; height:80px; padding:10px 0 20px; border-top:1px solid #dfdfdf; box-sizing:border-box;}
.sub_footer .bottom .first{float:left;}
.sub_footer .bottom .second{float:left; overflow:hidden;}
.sub_footer .bottom .first .tit{position:relative; padding:15px 0 15px 65px; font-size:16px; font-weight:600;}
.sub_footer .bottom .first .tit::before{content:""; display:block; position:absolute; left:0; top:0; width:52px; height:52px; background: url(../images/sub/icon_satisfy_checkArea.png) no-repeat 0 50%;}
.sub_footer .bottom .second{margin-left:110px; padding:10px 0; box-sizing:border-box;}
.sub_footer .bottom .second>div{float:left;}
.sub_footer .bottom .second .score_group{padding-top:5px;}
.sub_footer .bottom .second .score_group .score_item{display:inline-block; margin-left:20px; font-size:0;}
.sub_footer .bottom .second .score_group .score_item:nth-child(1){margin-left:0;}
.sub_footer .bottom .second .score_group .score_item label{display:inline-block;}
.sub_footer .bottom .second .score_group .score_item label span{margin:0 5px; font-size:14px;}
.sub_footer .bottom .second .score_group .score_item img{display:inline-block; width:70px; padding-top:2px;}
.sub_footer .bottom .second .score_btn{margin-left:70px;}
.sub_footer .bottom .second .score_btn a{display:inline-block; padding:10px 16px; box-sizing:border-box; background-color:#162b58; color:#fff; font-size:14px;}

.sub_skip {position:absolute; right:85px; top:0;}
.sub_skip *{box-sizing:border-box; text-align:center;}
.sub_skip .call_box{padding:20px 10px; background:#0a2f87;}
.sub_skip .call_box p{color:#fff;}
.sub_skip .call_box span{display:inline-block; margin-top:10px; color:#52a6fa; font-weight:600; font-size:16px;}
.sub_skip .sns_box{padding:10px 20px; background-color:#fff; border:1px solid #455579;}
.sub_skip .sns_box li{border-top:1px solid #ddd;}
.sub_skip .sns_box li:nth-child(1){border:none;}
.sub_skip .sns_box li a{display:block; padding:10px 0; width:100%; height:46px; background-repeat:no-repeat; background-position:50% 50%;  box-sizing:border-box;}
.sub_skip .sns_box li:nth-child(1) a{background-image:url(../images/sub/quick_sns1.png);}
.sub_skip .sns_box li:nth-child(2) a{background-image:url(../images/sub/quick_sns2.png);}
.sub_skip .sns_box li:nth-child(3) a{background-image:url(../images/sub/quick_sns3.png);}
.sub_skip .sns_box li:nth-child(4) a{background-image:url(../images/sub/quick_sns4.png);}
.sub_skip .sns_box li:nth-child(5) a{background-image:url(../images/sub/quick_sns5.png);}
.sub_skip .top_box{margin-top:5px;}
.sub_skip .top_box a{position: relative; display:block; padding:30px 0 20px; background-color:#a08a4b; color:#fff; font-size:14px;}
.sub_skip .top_box a::before{content:""; display:block; width:12px; height:6px; position:absolute; left:50%; top:20px; background:url(../images/sub/img_btnBotTop.png) no-repeat 0 0; transform:translateX(-50%);}
.sub_skip .top_box a:hover{background-color:#07a7e3;}

/* 서브01 - 정보공개제도 안내 */
.sub_con .section{overflow:hidden; margin-top:100px;}
.sub_con .section.top{margin-top:0;}
.sub_con .section.first{margin-top:50px;}

.border_box{position:relative; border-top:1px solid #ddd; border-left:1px solid #ddd;}
.border_box::before{content:""; display:block; position:absolute;left:0; bottom:0; width:calc(100% - 80px); height:1px; background-color:#ddd;}
.border_box::after{content:""; display:block; position:absolute; right:0; top:0; width:1px; height:calc(100% - 80px); background-color:#ddd}
.subtit_wrap{overflow:hidden; position:relative; padding:25px 100px; box-sizing:border-box;}
.subtit_wrap::after{content:""; display:block; position:absolute; right:0; bottom:0; width:110px; height:80px; background:url(../images/sub/bg_topIconBox_after.png) no-repeat 100% 100%;}
.subtit_wrap::before{content:""; display:block; position:absolute; left:0; top:0; width:80px; height:70px; border-top:1px solid #0a2f87; border-left:1px solid #0a2f87;}
.subtit_wrap .subtit{position:relative; float:left; width:1060px; padding-left:130px; box-sizing: border-box;}
.subtit_wrap .subtit::before{content:""; display:block; position:absolute; left:0; top:0; width:103px; height:85px; background:url(../images/sub/icon_topIconBox28.gif) no-repeat 0 0;}
.subtit_wrap .subtit dt{font-size:21px; font-weight:600;}
.subtit_wrap .subtit dd{padding-top:10px; font-size:16px;}
.subtit_wrap .btn_area{float:right; width:190px; margin-left:30px; padding:25px 0;}
.subtit_wrap .btn_area .btn_pop{display:block; position:relative; width:100%; padding:0 30px 0 20px; font-size:16px; border:1px solid #005cb9; color:#005cb9; line-height:40px;  box-sizing:border-box;}
.subtit_wrap .btn_area .btn_pop::after{content:""; display:block; position:absolute; right:10px; top:50%; transform:translateY(-50%); width:15px; height:5px; background:url(../images/sub/icon_topIconBox_btnLink.gif) no-repeat 0 0;}

.head_area{float:left; width:210px; font-size:24px; font-weight:600;}
.content_area{float:left; width:calc(100% - 290px); margin-left:80px;}
.content_area h5{font-size:22px; font-weight:600;}
.content_area p{padding-top:15px; font-size:16px; line-height:1.5;}
.content_area .group{margin-top:40px;}
.content_area .group:nth-child(1){margin-top:0;}
.content_area .group h5{color:#005cb9}
.content_area .group p{padding-top:15px; font-size:16px; line-height:1.5;}
.content_area .group .common_table{margin-top:10px;}
.content_area .group .common_table th{border-bottom:1px solid #e5e5e5;}
.content_area .group .common_table td:last-child{text-align:left;}
.content_area .group .img_box{width:910px;}
.content_area .group:nth-child(1) .img_box{margin-bottom:40px;}
.content_area .group .bullet_list{margin-top:20px;}
.content_area .group>.bullet_list *{line-height:1.4;}
.content_area .group>.bullet_list>li{font-size:16px;}
.content_area .group>.bullet_list>li>p{position:relative; padding-left:10px; padding-top:0;}
.content_area .group>.bullet_list>li>p::before{content:""; display:block; position:absolute; left:0; top:50%; transform:translateY(-50%); width:3px; height:3px; background-color:#222;}
.content_area .group>.bullet_list>li>span{display:inline-block; text-decoration:underline;}
.content_area .group>.bullet_list>li>.mini_list>li{padding-left:10px;}
.content_area .group>.bullet_list.type2 .bar_list{padding-left:10px;}
/* .content_area .group>.bullet_list.type2>li>ul:last-child{padding-left:110px;} */
.content_area .group>.bullet_list.type2 .bar_list>li{overflow:hidden; position: relative;}

.content_area .group>.bullet_list.type2 .bar_list>li::before{top:8px;}
.content_area .group>.bullet_list.type2 .bar_list>li strong{float:left; font-weight:400;}
.content_area .group>.bullet_list.type2 .bar_list>li .last_list{float:left; padding-left:7px;}

ul.public>li{position:relative; padding-left:122px; box-sizing:border-box;}
ul.public>li::before{content:""; display:block; position:absolute; left:0; top:0; width:100px; height:100px; background-repeat:no-repeat; background-position:0 0;}
ul.public>li h5{padding-top:15px; color:#192c55;}
ul.public.float{overflow:hidden;}
ul.public.float>li{float:left; width:580px; margin-left:30px;}
ul.public.float>li:nth-child(1){margin-left:0;}
ul.public.float>li:nth-child(1)::before{background:url(../images/sub/icon_iconList_1.gif);}
ul.public.float>li:nth-child(2)::before{background:url(../images/sub/icon_iconList_2.gif);}

.public.vertical>div{position:relative; padding-left:122px; box-sizing:border-box;}
.public.vertical>div::before{content:""; display:block; position:absolute; left:0; top:0; width:100px; height:100px; background-repeat:no-repeat; background-position:0 0;}
.public.vertical>div h5{padding-top:15px; color:#192c55;}
.public.vertical>div{margin-top:50px;}
.public.vertical>div:nth-child(1){margin-top:0;}
.public.vertical>div:nth-child(1)::before{background:url(../images/sub/icon_iconList_3.gif);}
.public.vertical>div:nth-child(2)::before{background:url(../images/sub/icon_iconList_4.gif);}
.public.vertical>div:nth-child(3)::before{background:url(../images/sub/icon_iconList_5.gif);}


ul.bar_list{margin-top:5px;}
ul.bar_list>li{position:relative; padding-left:10px; font-size:16px; line-height:1.4;}
ul.bar_list>li::before{content:"-"; position:absolute; left:0; top:50%; transform:translateY(-50%);}

.common_table{border-top:2px solid #162b58;}
.common_table th, .common_table td{padding:16px 0; text-align:center; font-size:16px; box-sizing:border-box;}
.common_table th{border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; background-color:#f6f6f6;}
.common_table td{border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding-left:20px;}
.common_table tr:nth-child(1){border-top:1px solid #929bad;}

/* 서브01 - 레이어팝업 */
.pop_bg{position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(1,1,1,.5); z-index:999;}
.pop_wrap{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:900px; height:800px;}
.popup{position:relative;}
.pop_head{height:45px; padding:13px 20px; background-color:#484c51; box-sizing:border-box;}
.pop_head p{color:#fff; font-weight:600; font-size:15px;}
.pop_body{padding:40px 20px; height:740px; overflow-y:auto; background-color:#fff; box-sizing:border-box;}
.pop_body .step{margin-top:30px;}
.pop_body .step:nth-child(1){margin-top:0;}
.pop_body .step h5{font-size:20px; font-weight:600; color:#222;}
.pop_body .step ol{margin-top:10px;}
.pop_body .step ol>li{margin-top:20px;}
.pop_body .step ol>li:nth-child(1){margin-top:0;}
.pop_body .step ol>li>span{position:relative; display:inline-block; padding-left:12px; font-size:15px; color:#4287b6; font-weight:600;}
.pop_body .step ol>li>span::before{content:""; display:block; position:absolute; left:0; top:50%; transform:translateY(-50%); width:4px; height:5px; background: url(../images/sub/bullet_contentwrap_dt_arrow.png) no-repeat 0 0;}
.pop_body .step ol>li .bullet{margin-top:10px;}
.pop_body .step ol>li .bullet li{position:relative; padding-left:10px; font-size:13px; margin-top:5px;}
.pop_body .step ol>li .bullet li:nth-child(1){margin-top:0;}
.pop_body .step ol>li .bullet li:nth-child(1)::before{content:""; display:block; position:absolute; left:0; top:7px; width:2px; height:2px; background-color:#222;}
.popup .pop_close{position:absolute; right:15px; top:15px; width:15px; height:15px; background:url(../images/sub/btn_modalClose.png) no-repeat 0 0; text-indent:-9999px;}

/* 서브02 - 공지사항 */
.notice .top_area{overflow:hidden; height:90px; margin-bottom:55px; padding:25px 30px; box-sizing:border-box; border-top:2px solid #162b58; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#f0f0f0;}
.notice .top_area>div{float:left;}
.notice .top_area .tit_wrap{position:relative; padding-left:30px; margin-top:10px;}
.notice .top_area .tit_wrap::before{content:""; display:block; position:absolute; left:0; top:0;  width:19px; height:20px; background: url(../images/sub/icon_bbsSearch_total.png) no-repeat 0 0;}
.notice .top_area .tit_wrap p{font-size:16px;}
.notice .top_area .tit_wrap .num{display:inline-block; font-weight:600;}
.notice .top_area .tit_wrap .num.all{color:#005cb9;}
.notice .top_area .srch_wrap{overflow:hidden; margin-left:130px;}
.notice .top_area .srch_wrap .srch_item{float:left;}
.notice .top_area .srch_wrap select{width:150px; height:42px; padding-left:20px; border:0; box-sizing:border-box;}
.notice .top_area .srch_wrap input[type="text"]{width:600px; height:42px; margin-left:4px; border:0; vertical-align:top;}
.notice .top_area .srch_wrap .button{display:inline-block; width:80px; height:42px; line-height:42px; text-align:center;}
.notice .top_area .srch_wrap .button.srch{margin-left:5px; background-color:#162b58; color:#fff;}
.notice .top_area .srch_wrap .button.all{height:40px; margin-left:7px; border:1px solid #162b58; color:#162b58;}
.notice .top_area .srch_wrap .button:hover{background-color:#07a7e3;}
.notice .top_area .srch_wrap .button.all:hover{color:#fff; border-color:#07a7e3;}

.notice_table{border-top:2px solid #162b58;}
.notice_table tr th, .notice_table tr td{padding:23px 0; font-size:15px; text-align:center; box-sizing:border-box;}
.notice_table tr th{border-bottom:1px solid #929bad;}
.notice_table tr td{border-bottom:1px solid #e5e5e5;}
.notice_table tr td.text_left{text-align:left;}
.notice_table tr td.text_left a{display:block; overflow:hidden;
text-overflow:ellipsis; white-space:nowrap;}
.notice_table tr td.text_left a:hover{text-decoration:underline;}

.paging_wrap{margin-top:60px;}
.paging{width:600px; margin:0 auto;}
.paging>span, .paging>ol{display: inline-block;}
.paging>ol>li{display: inline-block; width:36px; height:36px;}

.paging .num_btn, .paging>span>.arrow{display:block; position:relative; width:100%; height:100%; padding:6px 0; border:1px solid #e3e3e3; border-radius:100%; text-align:center; font-size:15px; box-sizing:border-box;}



/* .paging>span, .paging ol li span, .paging ol li{display:inline-block; width:36px; height:36px;}
.paging a, .paging ol li span{display:block; position:relative; width:100%; height:100%; padding:6px 0; border:1px solid #e3e3e3; border-radius:100%; text-align:center; font-size:15px; box-sizing:border-box;}
.paging li.on span{background-color:#162b58; border-color:#162b58; color:#fff; font-weight:600;}
.paging span .arrow{display: inline-block; background-color:#f0f0f0; text-indent:-9999px;}
.paging span .arrow::before{content:""; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:12px; height:11px; background-repeat:no-repeat; background-position:0 0;}
.paging .arrow.first::before{background-image: url(../images/sub/btn_pageFirst.png);}
.paging .arrow.prev::before{background-image: url(../images/sub/btn_pagePrev.png); width:7px;}
.paging .arrow.next::before{background-image: url(../images/sub/btn_pageNext.png); width:7px;}
.paging .arrow.last::before{background-image: url(../images/sub/btn_pageLast.png);} */

/* 서브02 - 공지사항 뷰 페이지*/
.view h4{text-align:center; font-size:30px; color:#162b58; font-weight:400;}
.notice_wrap{position:relative; margin-top:35px; border-top:2px solid #162b58;}
.writer_group{padding:20px 0; border-bottom:1px solid #e1e1e1; box-sizing:border-box;}
.writer_group .writer_inner{width:400px; margin:0 auto;}
.writer_group .writer_list{overflow:hidden;}
.writer_group .writer_list li{float:left; position:relative; padding:0 23px 0 50px; box-sizing:border-box; font-size:17px;}
.writer_group .writer_list li:nth-child(1){color:#005cb9;}
.writer_group .writer_list li::before{content:""; display:block; width:16px; height:16px; position:absolute; left:25px; top:50%; transform:translateY(-50%); background:no-repeat 0 0;}
.writer_group .writer_list li:nth-child(1)::before{background-image:url(../images/sub/icon_thumbView_detail1.gif);}
.writer_group .writer_list li:nth-child(2)::before{background-image:url(../images/sub/icon_thumbView_detail2.gif);}
.writer_group .writer_list li:nth-child(3)::before{background-image:url(../images/sub/icon_thumbView_detail3.gif);}
.writer_group .writer_list li::after{content:""; display:block; width:1px; height:14px; position:absolute; right:0; top:50%; transform:translateY(-50%); background-color:#e1e1e1;}
.writer_group .writer_list li:nth-child(3)::after{content:none;}

.writer_con .con_inner{width:1000px; margin:0 auto; padding-bottom:70px; border-bottom:1px solid #e1e1e1;}
.writer_con .subject_area{padding:60px 0; box-sizing:border-box; text-align:center; font-size:20px; font-weight:600; line-height:1.5;}
.writer_con .attach_area{padding:30px; border:1px solid #efefef; background-color:#f6f6f6; box-sizing:border-box;}
.writer_con .attach_area span{display:block; margin-bottom:15px; font-weight:600; font-size:16px;}
.writer_con .attach_area .attach_link{position:relative; display:block; padding-left:35px; font-size:15px;}
.writer_con .attach_area .attach_link::before{content:""; display:block; position:absolute; left:0; top:0; width:20px; height:21px; background: url(../images/sub/icon_fileType1.png) no-repeat 0 0;}

.btn_wrap{position:relative; height:60px; margin-top:50px;}
.btn_wrap .btn{position:absolute; top:0;}
.btn_wrap .btn *{display:inline-block;  box-sizing:border-box;}
.btn_wrap .prev{left:0;}
.btn_wrap .center{left:50%; transform:translateX(-50%);}
.btn_wrap .next{right:0;}
.btn_wrap .btn p{width:490px; padding:0 25px; font-size:17px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:text-bottom;}
.btn_wrap .btn a{position:relative; width:100px; height:60px; font-size:15px; line-height:60px; color:#fff;}
.btn_wrap .btn a::before{content:""; display:block; position:absolute; top:50%; transform:translateY(-50%); width:9px; height:15px; margin-top:1px;}
.btn_wrap .prev a::before, .btn_wrap .next a::before{background:url(../images/common/icon_mainBotArea_all.png) no-repeat;}
.btn_wrap .prev a::before{left:15px; background-position: -86px 0;}
.btn_wrap .next a::before{right:15px; background-position: -124px 0;}
.btn_wrap .prev a, .btn_wrap .next a{background:#07a7e3;}
.btn_wrap .prev a{padding-left:35px;}
.btn_wrap .next a{padding-left:20px;}
.btn_wrap .center a{width:120px; padding-left:58px; font-size:17px; background:#005cb9;}
.btn_wrap .center a::before{left:30px; width:15px; height:15px; background:url(../images/sub/icon_moveList_btnList.png) no-repeat;}

/* 서브03 사업안내 - 해양기후변화대응 */
.visual_area{margin:0 60px; height:478px;}
.visual_inner{position:relative; width:1300px; height:418px; background: url(../images/sub/img_sub4_1_5_1.jpg) no-repeat 0 0;}
.visual_inner .cont_box{overflow:hidden; position:absolute; right:-80px; top:130px; width:990px; padding:50px 60px; box-sizing:border-box; background-color:#192c55;}
.visual_inner .cont_box .img_box{float:left;}
.visual_inner .cont_box dl{float:left; width:490px; margin-left:40px; color:#fff;}
.visual_inner .cont_box dl dt{font-size:30px; font-weight:600;}
.visual_inner .cont_box dl dd{margin-top:35px; font-size:15px; line-height:1.5;}

.bullet li{position:relative; padding-left:10px; margin-top:5px;}
.bullet li:nth-child(1){margin-top:0;}
.bullet li::before{content:""; display:block; position:absolute; left:0; top:50%; transform:translateY(-50%); width:3px; height:3px; background-color:#222; }
.bullet.left li{text-align:left;}

.progress_group{overflow:hidden; margin-top:-20px;}
.progress_group:nth-child(1), .progress_group:nth-child(2){margin-top:0;}
.progress_group .bg_area{position:relative; float:left; width:160px; height:160px; color:#fff; text-align:center; line-height:160px; font-size:18px; font-weight:600; background: no-repeat 0 0; z-index:9;}
.progress_group:nth-child(1) .bg_area{background: url(../images/sub/bg_yearList_row1.png);}
.progress_group:nth-child(1) .bg_area::before{content:""; display:block; position:absolute; left:50%; bottom:-170px; transform: translateX(-50%); width:59px; height:380px; background: url(../images/sub/bg_yearList_row_arrow.png) no-repeat 0 0; z-index:1;}
.progress_group:nth-child(2) .bg_area{background: url(../images/sub/bg_yearList_row2.png);}
.progress_group:nth-child(3) .bg_area{background: url(../images/sub/bg_yearList_row3.png);}
.progress_group:nth-child(4) .bg_area{background: url(../images/sub/bg_yearList_row4.png);}
.progress_group .bg_area::after{content:""; display:block; width:55px; height:7px; position:absolute; right:-60px; top:50%; transform:translateY(-50%); background: url(../images/sub/img_sub4_1_5_8.png) no-repeat 0 0;}
.progress_group .desc_box{float:left; width:984px; min-height:115px; margin-left:56px; margin-top:20px; padding:30px 40px; border: 1px solid #929292; box-sizing:border-box;}
.progress_group .desc_box:nth-child(1){margin-top:0;}
.progress_group .desc_box .txt_box{margin-top:25px; padding-top:0;}
.progress_group .desc_box .txt_box:nth-child(1){margin-top:0;}
.progress_group .desc_box .txt_box span{display:inline-block; font-size:16px; font-weight:600; color:#005cc0;}
.progress_group .desc_box .txt_box .bullet{margin-top:10px;}


.content_area .sec{margin-top:40px;}
.content_area .sec:nth-child(1){margin-top:0;}
.content_area .sec .img_box{width:708px; margin:0 auto;}
.content_area .sec .step_box{overflow:hidden;}
.content_area .sec .step_box li{float:left; width:386px; margin-left:20px;}
.content_area .sec .step_box li:nth-child(1){margin-left:0;}
.content_area .sec .step_box li *{box-sizing:border-box; text-align:center;}
.content_area .sec .step_box li .tit{height:96px; line-height:96px; padding:0 80px; margin-bottom:5px; color:#fff; font-weight:600;}
.content_area .sec .step_box li:nth-child(1) .tit{background:#7c859b;}
.content_area .sec .step_box li:nth-child(2) .tit{background:#4d5974;}
.content_area .sec .step_box li:nth-child(3) .tit{background:#192c55;}
.content_area .sec .step_box li .con{height:117px; padding:30px 70px; border:1px solid #ddd;}

.sort_table{border-collapse:separate; border-spacing:5px;}
.sort_table *{box-sizing:border-box; font-size:16px;}
.sort_table thead>tr>th{height:70px; color:#fff; text-align:center; font-weight:600; font-size:17px;}
.sort_table thead>tr>th:nth-child(1){background-color:#7c859b;}
.sort_table thead>tr>th:nth-child(2){background-color:#4d5974;}
.sort_table thead>tr>th:nth-child(3){background-color:#192c55;}
.sort_table thead>tr>th:nth-child(4){background-color:#005cb9;}
.sort_table thead>tr>th:nth-child(5){background-color:#c4991e;}
.sort_table tbody>tr>th, .sort_table td{height:40px; border:1px solid #ddd; text-align:center;}
.sort_table tbody>tr>th span{display:block; width:80px; height:35px; margin:0 auto 10px; line-height:35px; color:#fff; font-weight:600; border-radius:5px;}
.sort_table tbody>tr:nth-child(1) th{color:#192c55;}
.sort_table tbody>tr:nth-child(1) th:nth-child(1){font-weight:600;}

.sort_table td.mid{height:60px;}
.sort_table td.max{height:90px;}
.sort_table tbody>tr>th.bg1{background-color:#f4f4f4; color:#192c55; font-weight:600;}
.sort_table tbody>tr>th.bg2{background-color:#e2ebf4; color:#0e3b68; font-weight:600;}
.sort_table tbody>tr>th.bg3{background-color:#f6f3eb; color:#52410f; font-weight:600;}
.sort_table tbody>tr>th.bg1 span{background-color:#192c55;}
.sort_table tbody>tr>th.bg2 span{background-color:#005cb9;}
.sort_table tbody>tr>th.bg3 span{background-color:#c4991e;}

.img_list{overflow:hidden; margin-top:40px;}
.img_list li{position:relative; float:left; margin-left:50px; padding-left:130px; box-sizing:border-box;}
.img_list li:nth-child(1){margin-left:0;}
.img_list li::before{content:""; display:block; position:absolute; left:0; top:0; width:100px; height:100px; background:url(../images/sub/img_sub4_1_5_4.gif) no-repeat 0 0;}
.img_list li:nth-child(2)::before{background:url(../images/sub/img_sub4_1_5_5.gif);}
.img_list li:nth-child(3)::before{background:url(../images/sub/img_sub4_1_5_6.gif);}
.img_list li:nth-child(4)::before{background:url(../images/sub/img_sub4_1_5_7.gif);}

.img_list li span{display:block; font-size:18px; font-weight:600;}
.img_list li p{font-size:16px;}
.img_list li a{position:relative; display:block; width:112px; height:38px; margin-top:10px; padding:0 20px; box-sizing:border-box; line-height:35px; border:1px solid #ccc;}
.img_list li a::before{content:""; display:block; position:absolute; right:10px; top:50%; transform:translateY(-50%); width:15px; height:5px; background:url(../images/sub/icon_directBlue.png) no-repeat 0 0;}

.content_area .txt_box{padding-top:40px;}
.content_area .txt_box p:last-child{padding-left:15px;}
.content_area .txt_box p a{position:relative; display:inline-block; color:#005cb9;}
.content_area .txt_box p a::before{content:""; display:block; position:absolute; right:-20px; top:50%; transform:translateY(-50%); width:12px; height:10px; background:url(../images/sub/icon_directLink.png) no-repeat 0 0;}



